[bumpversion]
current_version = 0.1.0
commit = True
tag = False
tag_name = v{new_version}
message = Bump version: {current_version} -> {new_version}

[bumpversion:file:templates/kyivmural-cdn.cfn]
search = Kyivmural CDN v{current_version}
replace = Kyivmural CDN v{new_version}

[bumpversion:file:VERSION]
search = version={current_version}
replace = version={new_version}

[bumpversion:file:readme.md]
search = version {current_version}
replace = version {new_version}

[bumpversion:file:tags.json]

[semver]
main_branches = master
major_branches = major
minor_branches = feature
patch_branches = hotfix, bugfix
